extends layout

block content
    h1 Cinemagraphs
    div(id='vid-div')
        div(id='vid-box')
            video.vs(id='video')
                source(src='/Sequence01.mp4')
            canvas.vs(id='mask-canvas')
        div(id='progressbar')
        div(id='slider-range')

    br
    button(id='go') Go
    button(id='toggle') Play


    br
    br
    br
    canvas.vs(id='canvas')

    div(id='output-div')
        canvas.vs(id='output-canvas')
        img.vs(id='output')


    link(rel="stylesheet", href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css")
    script(src='https://code.jquery.com/jquery-2.1.4.min.js')
    script(src='//code.jquery.com/ui/1.11.4/jquery-ui.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js')
    script(src='/javascripts/gif.js')
    script(src='/javascripts/main.js')