body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

video {
  border: 1px solid grey;
}

#vid-box, #output-div {
  position: relative;
}


#slider-range {
  width: 100%
}

#mask-canvas, #output {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top:0;
}