body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

video {
  border: 1px solid grey;
  width: 100%;
}

#vid-div {
  width: 500px;
}

#vid-box {
  position: relative;
}


#slider-range {
  width: 100%
}

#mask-canvas {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top:0;
  width: 100%;
  height: 100%;
}